@import "tailwindcss";

/* Reset */
* {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Global Colors */

:root {
  --primary-color: #003e68;
  --secondary-color: #3498db;
  --tertiary-color: #eef6fc;
  --background-color: #ffffff;
  --text-color: #9795b5;
  /* --border:white; */
  --fade-color: #dddddd;
  --accent-dark: #000000;
  --footer-bg: #697077;
  --font-family: "Inter", "Sans-serif", Arial, sans-serif;
  /* --primary-bg: #f5f7fa;
  --secondary-bg: #ffffff;
  --primary-text: #1f2937;
  --secondary-text: #6b7280;
  --accent: #6366f1;          
  --accent-dark: #4f46e5;
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
  --border: #e5e7eb;
  --card-shadow: rgba(0, 0, 0, 0.05); */ 
}

/* App Container */
body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  margin: 0;
  padding: 0;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background-color: var(--secondary-bg);
  border-right: 1px solid var(--border);
  padding: 2rem 1.2rem;
  box-shadow: 2px 0 5px var(--card-shadow);
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

.sidebar h2 {
  color: var(--accent);
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.sidebar nav a {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: var(--secondary-text);
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background-color: var(--accent);
  color: white;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 4px;
  border: 2px solid var(--secondary-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-dark);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--secondary-bg);
}
